*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color:  #86cc05 ;
}
body{
    font-family: sans-serif;
}
.greenText{
    color: var(--bg-color)
    !important;
}

.brder{
    border-right: 1px solid whitesmoke;
    height: 0px;

}
.navbar {
    background-color: black;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-links li a:hover {
   color:   #86cc05;
}
.brand{
    display: none !important;
}
.toggle-button {
    right: 1rem;

    width: 30px;
    left: 0 !important;
    height: 26px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: none !important;
}
.navbar-links li{
    border-right: 1px solid whitesmoke;
    
}
.navbar-links li:last-child{
    border-right: none !important;
}
.sec1{
    background-image: url('images/dd.jpg');
    height: 60vh;
    object-fit: contain !important;
    background-position: center;
}
.overflow{
    height: 60vh;
    background: rgb(134, 204, 5 , .8);
    width: 23vw;
    
}
.overflow-text{
    display: flex;
    height: 65vh;
    margin: auto;
    align-items:center;
    justify-content:center;
}
.text{
    color: whitesmoke;
    font-weight: 600;
    font-size: 4vw;
    font-family:sans-serif;

}
.text-2{
  font-size: 4vw;
  font-family:Arial, Helvetica, sans-serif
}
.text1{
    background: rgb(134, 204, 5);
    bottom: 0px;
    font-size: 18px;
    color: whitesmoke;
    cursor: pointer;
}

footer {
    color: whitesmoke !important;
}
footer   a li  {
    list-style: none;
    color: whitesmoke;
}

@media (max-width: 800px) {
  
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        
    }
    .brand{
        display: flex !important;
    }
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    
    .text{
        color: whitesmoke;
        font-weight: 800;
        font-size: 10vw;
        font-family:sans-serif;
    }
    .text-2{
      font-size: 10vw;
      font-family:Arial, Helvetica, sans-serif
    }
    .overflow{
        height: 60vh;
        background: rgb(134, 204, 5 , .8);
        width: 28vw;
        
    } 
   
    .toggle-button .bar {
        height: 3px;
        background-color: white;
        border-radius: 10px;
        display: flex !important;
        margin-left:45vw;
        
    }
}
